<li>
	<%= link_to "#{sublocation.location.name}, #{sublocation.name}", sublocation_path(sublocation), :class => "result_link" %><%= link_to "Delete", sublocation_path(sublocation), :method => :delete, :confirm => 'Deleting a sub-location will delete all bottles associated with that sub-location. Are you sure?', :class => "delete_btn" %><%= link_to "Edit", edit_sublocation_path(sublocation), :class => "edit_btn" %>
</li>