<%= f.error_messages :header_message => "Location saving error", :message => "The location could not be saved. Please correct the following:" %>
<div class="field">
  <%= f.label :name, :class => 'round' %>:&nbsp;<%= f.text_field :name %>
</div>
